<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Himanshu Prajapati</title>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@100;500;600&family=Space+Mono&family=Work+Sans:wght@400;500&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="../style/style.css" />
</head>

<body>
    <div class="scroll-line"></div>
    <section id="main-section">
        <div class="main-div">
            <div class="main-child first-child">
                <img src="../images/hero_1.jpg" alt="main" srcset="" />
            </div>
            <div class="main-child second-child ">
                <h2 class="auto-type">Himanshu Prajapati</h2>
            </div>
            <div class="main-child third-child">
                <span> Web Developer | Media Designer </span>
            </div>
            <div class="main-child fourth-child">
                <span>
                    <a href="https://www.instagram.com/direct/new/">
                        <ion-icon class="social-icon" name="logo-instagram"></ion-icon>
                    </a>
                </span>
                <span>
                    <a href="#">
                        <ion-icon class="social-icon" name="logo-linkedin"></ion-icon>
                    </a>
                </span>

                <span>
                    <a href="#">
                        <ion-icon class="social-icon" name="logo-twitter"></ion-icon>
                    </a>
                </span>

                <span>
                    <a href="#">
                        <ion-icon class="social-icon" name="logo-github"></ion-icon>
                    </a>
                </span>
            </div>
        </div>
    </section>


    <!-- ###########################
    Abotu Me section 
    ########################### -->
    <section id="container">
        <div class="row first-row">
            <h1 class="main-heading">About Me </h1>
        </div>

        <div class="row second-row">
            <div class="first-column">
                <ul class="first-column-data">
                    <li>
                        <span class="first-block">Full Name:</span>
                        <span class="second-block">Himanshu</span>
                    </li>
                    <li>
                        <span class="first-block">Phone:</span>
                        <span class="second-block">+91 9643678845</span>
                    </li>
                    <li>
                        <span class="first-block">E-mail:</span>
                        <span class="second-block">example@gmail.com</span>
                    </li>
                    <li>
                        <span class="first-block">Website:</span>
                        <span class="second-block">www.sitename.com</span>
                    </li>
                    <li>
                        <span class="first-block">Address:</span>
                        <span class="second-block">This is the Demo

                        </span>
                    </li>

                </ul>
            </div>
            <div class="second-column">

                <h2>Hello there !</h2>
                <p>There live the blind texts far from the countries Vokalia and Consonantia, there live the blind
                    texts. Separated they live in bookmarksgrove there live the blind texts far from the countries.</p>
                <p>Far far away, behind the word mountains, Quos quia provident consequuntur culpa facere ratione maxime
                    commodi voluptates id repellat velit eaque aspernatur expedita. Possimus itaque adipisci there live
                    the blind texts from the countries Vokalia and Consonantia, there live the blind texts. Quos quia
                    provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque
                    aspernatur expedita. Possimus itaque adipisci.</p>


                <a href="">
                    <ion-icon class="social-icon" name="logo-instagram"></ion-icon>
                </a>

                <a href="">
                    <ion-icon class="social-icon" name="logo-linkedin"></ion-icon>
                </a>

                <a href="">
                    <ion-icon class="social-icon" name="logo-twitter"></ion-icon>
                </a>

                <a href="">
                    <ion-icon class="social-icon" name="logo-github"></ion-icon>
                </a>

            </div>
        </div>

    </section>
    <!-- ###########################
    My resume sectio 
    ########################### -->
    <section id="resume-div">


        <h1 class="main-heading">My Resume</h1>

        <div class="project-section">
            <h2 class="resume-heading">Project</h2>

            <div class="project-grid">

                <div class="project">
                    <div class="head">

                        <h3>Personal Portfolio</h3>
                    </div>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                        there
                        live the blind texts.</p>
                    <a href="#">Project 1</a>
                </div>

                <div class="project">
                    <div class="head">

                        <h3>Personal Portfolio</h3>
                    </div>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
                        live the blind texts.</p>
                    <a href="#">Project 2</a>
                </div>
                <div class="project">
                    <div class="head">

                        <h3>Personal Portfolio</h3>
                    </div>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
                        live the blind texts.</p>
                    <a href="#">Project 3</a>
                </div>
            </div>
        </div>


        <h2 class="resume-heading">Education</h2>

        <div class="education">
            <div class="Graduation " data-aos="fade-left">
                <!-- <img src="../images/graduation-hat.png" alt="" srcset=""> -->
                <div class="edu-head">
                    <img src="../images/graduation-hat.png" alt="" srcset="">
                    <h3 class="edu-heading">Graduation</h3>
                </div>
                <span>School of Open Learning</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, illo error ad eum cupiditate,
                    amet provident ratione doloremque atque ipsa cumque. Facilis repellat corrupti itaque optio sed
                    suscipit, dicta totam.</p>
            </div>

            <div class="diploma" data-aos="fade-right">

                <div class="edu-head">
                    <img src="../images/graduation-hat.png" alt="" srcset="">
                    <h3 class="edu-heading">Diploma</h3>
                </div>
                <span>Sarbar patel institute and Research Center</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, illo error ad eum cupiditate,
                    amet provident ratione doloremque atque ipsa cumque. Facilis repellat corrupti itaque optio sed
                    suscipit, dicta totam.</p>
            </div>
            <div class="certificate" data-aos="fade-left">
                <div class="edu-head">
                    <img src="../images/graduation-hat.png" alt="" srcset="">
                    <h3 class="edu-heading">'O' Level</h3>
                </div>
                <span>NILET</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, illo error ad eum cupiditate,
                    amet provident ratione doloremque atque ipsa cumque. Facilis repellat corrupti itaque optio sed
                    suscipit, dicta totam.</p>

            </div>
        </div>
    </section>

    <!-- ###########################
    my service section 
    ########################### -->
    <section class="section section-services">
        <div class="container">
            <h2 class="common-heading">Services Offers</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat fuga
                quaerat amet dolorum. Magni architecto aut neque quo quod unde. Atque
                repellat autem est facere beatae doloremque exercitationem quisquam,
                mollitia fugit nulla qui nemo!
            </p>
        </div>

        <!-- services offers card  -->
        <div class="container grid grid-three-column">
            <!-- service box 1 -->
            <div class="service-box">
                <ion-icon name="desktop-sharp" class="service-icon"></ion-icon>
                <h3>Web Design</h3>
                <p>
                    "It is not because things are difficult that we do not dare: it is
                    because we do not dare that they are difficult
                </p>
            </div>
            <!-- service box 2 -->
            <div class="service-box">
                <ion-icon name="camera-sharp" class="service-icon"></ion-icon>
                <h3>PhotoGraphy</h3>
                <p>
                    "It is not because things are difficult that we do not dare: it is
                    because we do not dare that they are difficult
                </p>
            </div>
            <!-- service box 3 -->
            <div class="service-box">
                <ion-icon name="logo-web-component" class="service-icon"></ion-icon>
                <h3>Web Development</h3>
                <p>
                    "It is not because things are difficult that we do not dare: it is
                    because we do not dare that they are difficult
                </p>
            </div>
            <!-- service box 4 -->
            <div class="service-box">
                <ion-icon name="apps-sharp" class="service-icon"></ion-icon>
                <h3>Mobile Apps</h3>
                <p>
                    "It is not because things are difficult that we do not dare: it is
                    because we do not dare that they are difficult
                </p>
            </div>
            <!-- service box 5 -->
            <div class="service-box">
                <ion-icon name="laptop-outline" class="service-icon"></ion-icon>
                <h3>Apps interface</h3>
                <p>
                    "It is not because things are difficult that we do not dare: it is
                    because we do not dare that they are difficult
                </p>
            </div>
            <!-- service box 6 -->
            <div class="service-box">
                <ion-icon name="leaf-sharp" class="service-icon"></ion-icon>
                <h3>Graphic Design</h3>
                <p>
                    "It is not because things are difficult that we do not dare: it is
                    because we do not dare that they are difficult
                </p>
            </div>
        </div>
    </section>

    <!-- ###########################
    my skills section 
########################### -->

    <h1 class="main-heading ">Skills</h1>
    <section id="skill-section">
        <div class="left-section">


            <div class="skills">
                <span>HTML</span>
                <div class="skill-container">
                    <div class="skill html">
                        <span>
                            80%</span>
                    </div>
                </div>
            </div>
            <div class="skills">
                <span>CSS</span>
                <div class="skill-container">
                    <div class="skill css">
                        <span>
                            60%</span>
                    </div>
                </div>
            </div>
            <div class="skills">
                <span>javascript</span>
                <div class="skill-container">
                    <div class="skill javascript">
                        <span>
                            60%</span>
                    </div>
                </div>
            </div>
            <div class="skills">
                <span>javascript</span>
                <div class="skill-container">
                    <div class="skill javascript">
                        <span>
                            60%</span>
                    </div>
                </div>
            </div>
            <div class="skills">
                <span>PHP</span>
                <div class="skill-container">
                    <div class="skill php">
                        <span>
                            50%</span>
                    </div>
                </div>
            </div>
            <div class="skills">
                <span>C</span>
                <div class="skill-container">
                    <div class="skill c">
                        <span>
                            70%</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="right-section">
            <img src="https://picsum.photos/id/360/200/200" alt="a few flowers">
            <img src="https://picsum.photos/id/64/200/200" alt="a girl holding flowers">
        </div>
    </section>

    <!-- ###########################
freelancer section 
############################## -->
    <section id="freelancer-section">
        <h1>I Am <span>Avialable</span> for Freelancing</h1>

        <a href="#">
            Hire Me
        </a>
    </section>



    <!-- #######################
    contact me 
    ####################### -->
    <section id="contact-form">
        <div class="left-content">

        </div>

        <div class="right-content">
            <h2 class="main-heading">Contact</h2>

            <form action='hire.php' method="post">
                <div class=" row fname">
                    <input type="text" id="fname" name="firstname" placeholder=" Your First Name">
                </div>
                <div class="lname row">
                    <input type="text" id="lname" name="lastname" placeholder=" Your Last Name">
                </div>
                <div class=" row third-row">
                    <input type="email" id="email" name="email" placeholder=" Your Email Address">
                </div>
                <div class="fourth-row row ">
                    <input type="text" id="subject" name="subject" placeholder="Your Subject of this Message">
                </div>
                <div class="fifth-row row">
                    <textarea name="textarea" id="textarea" cols="30" rows="10"></textarea>
                </div>
                <div class="sixth-row row  "><input type="submit" value="Send Message" class="form-btn">
                </div>
            </form>
        </div>
    </section>


    <footer>


        <div class="socail-icon">
            <ion-icon name="logo-instagram" class="service-icon"></ion-icon>
            <ion-icon name="logo-twitter" class="service-icon"></ion-icon>
            <ion-icon name="logo-linkedin" class="service-icon"></ion-icon>
        </div>
        <div class="info">
            <span>All Rights Reserved @ 2022 </span>
        </div>
    </footer>

    <!-- ###########################
    script start here 
    ########################### -->

    <script src="../javascript/app.js"></script>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <!-- typed <script></script> -->
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

    <script>


        var typed = new Typed(".auto-type", {
            strings: ["Himanshu Prajapti", "Web Developer", "Media Designer"],
            typeSpeed: 80,
            backSpeed: 120,
            loop: true
        })
    </script>

    <!-- script for animation on scroll  -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
        AOS.init({
            offset: 200,
            duration: 800,
            easing: 'ease'
        });

    </script>

</body>
</body>

</html>
